.login-container, .register-container {
    width: 100%;
    box-sizing: border-box;
    display: block;
    margin: auto;
}

.login-wrapper, .register-wrapper {
    width: 100%;
    max-width: 320px;
    margin: 100px auto;
    text-align: center;
    padding: 10px;
}

.login-form-styles, .register-form-styles {
    padding: 10px;
}

.input-area-styles {
    margin-top: 10px;
    display: flex;
    flex-direction: column-reverse;
}