.component-area-styles {
    margin: 16px 0;
}

.two-column-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 24px;
}


@media screen and (max-width: 900px) {
    .two-column-flex {
        flex-direction: column-reverse;
        justify-content: center;
    }
}