.component-area-styles {
    margin: 16px 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 10px;
}

@media screen and (max-width: 900px) {
    .grid-container {
        grid-template-columns: auto;
    }
}